* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

i {
    color: white;
}

/* impostazioni header */
header .top-bar {
    background: #000;
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
}

/* speaker e full screen*/
header .top-bar .item-sx, .item-dx {
    background: #4A4A4A;
    font-size: 15px;
    padding: 6px;
    margin-right: 5px;
    border-radius: 5px;
    align-self: center;
}