* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

i {
    color: white;
}

img {
    max-width: 100%;
}

/* impostazioni header */
header .top-bar {
    background: #000;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

/* speaker e full screen*/
header .top-bar .item-sx, .item-dx {
    background: #4A4A4A;
    font-size: 15px;
    padding: 6px;
    margin-right: 5px;
    border-radius: 5px;
    align-self: center;
}


/* impostazioni main */
main .grid-box {
    background: #a7a7a7;
    padding: 80px;
    width: 100%;
    height: 100vh;
    display: flex;
}

main .grid-box .user {  
    display: flex;
    /* debug */
    width: 250px;
    height: 150px;
    background: lime;
}

.grid-box .user {
    margin-right: 5px;
}

.user a {
    align-self: flex-end;
    font-size: 15px;
    padding: 6px;
    /* debug */
    background: #0804fd;
}




/* impostazioni footer */
footer {
    display: flex;
    justify-content: space-between;
    background: #222222;
    width: 100%;
    height: 80px;
}

/* lato sinistro */
footer #button-sx {  
    /* align-self: flex-start; */
    width: 10%;
    /* debug */
    height: 80px;
    background: green;
}


/* lato centrale */
footer nav {
    width: 40%;
    /* debug */
    height: 80px;
    background: orange;
}

nav #button-center { 
    
}


/* lato destro */
footer #button-dx {
    width: 10%;
    /* debug */
    height: 80px;
    background: red;
}